<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 公司正式區沿用既有連線；本機請依實際 SQL 實例名稱調整 Data Source -->
    <add name="chb_iom"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=chb_iom;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
    <add name="chb_pub"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=chb_iom;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
    <add name="chb_pub1"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=chb_iom;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="SystemName" value="新臺幣定期存款專案利率申請" />
    <add key="OwnerUnit" value="經營管理處" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" />
    <pages enableSessionState="true" enableEventValidation="false" validateRequest="false" />
    <sessionState mode="InProc" timeout="60" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-TW" uiCulture="zh-TW" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Main.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
