<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--<add key="ReportServerUrl" value="http://10.100.8.46/ReportServer/Pages/ReportViewer.aspx?" />-->
    <!-- EIP 修改成舊內網測試機路徑 -->
    <!-- <add key="ReportServerUrl" value="http://10.100.7.91/ReportServer/Pages/ReportViewer.aspx?" />-->
    <!-- EIP 將ReportServer指向新內網測試機路徑 -->
    <add key="ReportServerUrl" value="http://10.100.7.177/ReportServer/Pages/ReportViewer.aspx?"/>
    <!--直接顯示在頁面上的ReprotServer的Url-->
    <add key="ReprotServiceUrl" value="http://10.100.7.177/ReportServer"/>
    <!--直接顯示在頁面上的ReprotServer的Url(刷卡出勤系統)-->
    <add key="ReportServerUrlATNS" value="https://sqlcnta01.tschb.com/ReportServer_SSRS"/>
    <add key="ReportDirATNS" value="/刷卡出勤系統/"/>
    <add key="ReportServerATNS" value="SQLCNTA01"/>
    <add key="ReportLoginIDATNS" value="spReport"/>
    <add key="ReportPasswordATNS" value="spReport"/>
    <add key="DailyReviewService" value="http://10.100.7.135:8083/API/dailyreviewservice"/>
    <add key="CustomerRiskProfile" value="http://10.100.7.135:8090/api/customerriskprofile"/>
    <!--<add key="FES83_IP" value="10.128.2.83"/>
        <add key="FES83_LoginID" value="eForms"/>
        <add key="FES83_Password" value="ftpuser_AP"/>-->
    <!--新FES正式區-->
    <!--<add key="NewFES67_IP" value="10.100.61.67"/>
        <add key="NewFES67_LoginID" value="eForms"/>
        <add key="NewFES67_Password" value="ftpuser_AP"/>-->
    <!-- EIP 修改成舊內網測試機路徑 -->
    <!--<add key="FES83_IP" value="10.100.7.90"/>
    <add key="FES83_LoginID" value="tschb\spsadm"/>
    <add key="FES83_Password" value="spsadm"/>-->
    <add key="FES83_IP" value="10.128.3.83"/>
    <add key="FES83_LoginID" value="Mbox_Test"/>
    <add key="FES83_Password" value="chb153508"/>
    <!--新FES測試區-->
    <add key="NewFES67_IP" value="10.100.71.64"/>
    <add key="NewFES67_LoginID" value="eForms"/>
    <add key="NewFES67_Password" value="ftpuser_AP"/>
    <add key="CHT_FTP_IP" value="10.128.3.83"/>
    <add key="CHT_FTP_LoginID" value="Mbox_Test"/>
    <add key="CHT_FTP_Password" value="chb153508"/>
    <add key="DW_FTP_IP" value="10.100.7.187:21"/>
    <add key="DW_FTP_LoginID" value="dwupload"/>
    <add key="DW_FTP_Password" value="agm-65b"/>
    <add key="FilePath_OCE4040" value="E:\Portal\IntraWeb\DotNet\Program\OCE4040\data\"/>
    <add key="FilePath_OCD4040" value="E:\Portal\IntraWeb\DotNet\Program\OCD4040\data\"/>
    <add key="WebReference.Service" value="http://10.100.7.45:8010/Service.asmx"/>
    <add key="TodolistUrl" value="http://inspt01.intra.chb.com.tw/_vti_bin/ToDoListWebAPI/ToDoListWebAPI.svc"/>
    <add key="TodolistLoginID" value="tschb\spservices"/>
    <add key="TodolistPassword" value="iPhone6+"/>
    <add key="ServerName" value="inapt02"/>
    <add key="ReportServerUrlBasel" value="https://sqlcnta01.tschb.com/ReportServer_SSRS"/>
    <add key="ReportDirBasel" value="/eForms/"/>
    <add key="ReportServerBasel" value="SQLCNTA01"/>
    <add key="ReportLoginIDBasel" value="spReport"/>
    <add key="ReportPasswordBasel" value="spReport"/>
    <add key="WebReference_1.CHBSCService" value="http://10.100.7.90:8888/ws/CHBSCService.asmx"/>
    <add key="overtime_tpye" value="off"/>
    <!--on:全行 off:分行 其他:單位代號 -->
    <add key="CZ_PostUrl" value="http://10.100.7.204/EXCONF-GW/circular/reply"/>
    <add key="IntraWebUrl" value="http://inspt01.intra.chb.com.tw/"/>
    <!--連接DB-->
    <add key="INAPDB_Server" value="INDBT02"/>
    <add key="INAPDB_LoginID" value="intraweb"/>
    <add key="INAPDB_Password" value="intraweb"/>
    <add key="Cus_Server" value="10.100.71.59"/>
    <add key="Cus_LoginID" value="intraweb"/>
    <add key="Cus_Password" value="intraweb"/>
    <add key="QueueManagerName" value="CHBMQT01"/>
    <add key="QueueChannelName" value="CHBMQT01SVR.INTRA"/>
    <add key="QueueConnectionName" value="10.100.7.156(1416)"/>
    <add key="QueueNameAq" value="MQ.NEWEA"/>
    <add key="QueueNameAs" value="EA.INTRA"/>
    <add key="LDAPServer" value="10.100.7.144"/>
    <!--RPS報表管理系統-->
    <add key="RPS_IP" value="10.100.7.218"/>
    <add key="RPS_LoginID" value="ftper"/>
    <add key="RPS_Password" value="ftper"/>
	<!--共用放行畫面網址，-->
	<add key="ApproveUrl" value="http://inspt01.intra.chb.com.tw/_layouts/15/CHB.EIP.Pages/EIPSystemFrame.aspx?tid=Greenhouse&amp;isASP=0&amp;APServer=1&amp;Target=_blank"/>
  </appSettings>
  <connectionStrings>
    <!--刷卡系統測試機-->
    <add name="ATNS" connectionString="Data Source=10.100.71.59;Initial Catalog=ATNS;Persist Security Info=True;User ID=ATNS_AP;Password=ATNS_AP" providerName="System.Data.SqlClient"/>
    <add name="PWS" connectionString="Data Source=10.100.7.177;Initial Catalog=PWS;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <!--ESI 重新設定DB連結位置及帳密 -->
    <add name="chb_eform" connectionString="Data Source=10.100.7.177;Initial Catalog=chb_eform;Persist Security Info=True;User ID=intraweb;Password=intraweb;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="chb_pub" connectionString="Data Source=10.100.7.177;Initial Catalog=CHBSC;Persist Security Info=True;User ID=intraweb;Password=intraweb;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="chb_pub1" connectionString="Data Source=10.100.7.177;Initial Catalog=chb_pub;Persist Security Info=True;User ID=intraweb;Password=intraweb;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="chb_iom" connectionString="Data Source=10.100.7.177;Initial Catalog=iom;Persist Security Info=True;User ID=intraweb;Password=intraweb;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=60000;" providerName="System.Data.SqlClient"/>
    <add name="chb_school" connectionString="Data Source=10.100.71.59;Initial Catalog=DataCheck;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <!--ESI 暫時修改成舊內網測試機IP -->
    <add name="eFormsDB" connectionString="Data Source=10.100.71.59;Initial Catalog=eForms;Persist Security Info=True;User ID=eForms_AP;Password=eForms_AP" providerName="System.Data.SqlClient"/>
    <add name="toricax" connectionString="Data Source=10.100.7.91;Initial Catalog=toricax;Persist Security Info=True;User ID=sa;Password=P@sswOrd" providerName="System.Data.SqlClient"/>
    <add name="basel_iom" connectionString="Data Source=10.100.71.59;Initial Catalog=iom;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="basel_pub" connectionString="Data Source=10.100.71.59;Initial Catalog=chb_pub;Persist Security Info=True;User ID=OA;Password=Nitendo3DS" providerName="System.Data.SqlClient"/>
    <add name="ATNSConnectionString" connectionString="Data Source=10.100.71.59;Initial Catalog=ATNS;Persist Security Info=True;User ID=ATNS_AP;Password=ATNS_AP" providerName="System.Data.SqlClient"/>
    <add name="TeraDataDW" connectionString="Dsn=dw5400e;PageTimeout=6000;uid=intrauser;pwd=userintra;Connect Timeout=6000" providerName="System.Data.Odbc"/>
    <add name="CHB_WMS_DW" connectionString="Data Source=WMTS1\CHB_TS_WMDB;Initial Catalog=CHB_WMS_DW;User Id=intraweb;password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="TEJ" connectionString="Data Source=10.100.71.216;Initial Catalog=chbumoney;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="TheBlack" connectionString="Data Source=10.100.7.177;Initial Catalog=TheBlack;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="DW" connectionString="Dsn=dw5400E;uid=intrauser;pwd=userintra" providerName="System.Data.Odbc"/>
    <add name="chb_sod" connectionString="Data Source=10.100.7.177;Initial Catalog=CHB_SOD20_M;Persist Security Info=True;User ID=sodadm;Password=kmg6090-2" providerName="System.Data.SqlClient"/>
    <add name="elearn" connectionString="Data Source=10.100.71.197;Initial Catalog=aEnrichOLTP;Persist Security Info=True;User ID=sa;Password=lms@CHB;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="JobIT" connectionString="Data Source=10.100.71.59;Initial Catalog=JobIntra;Persist Security Info=True;User ID=JobIntra_AP;Password=JobIntra_AP" providerName="System.Data.SqlClient"/>
    <add name="WP" connectionString="Data Source=10.100.71.59;Initial Catalog=PNL_FI;Persist Security Info=True;User ID=DW_AP;Password=dwusr5566" providerName="System.Data.SqlClient"/>
    <add name="CHECKIN" connectionString="Data Source=10.100.71.59;Initial Catalog=CHECKIN;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="DataCheck" connectionString="Data Source=10.100.71.59;Initial Catalog=DataCheck;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="F711" connectionString="Data Source=10.100.71.59;Initial Catalog=F711;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="CHB_DBS" connectionString="Data Source=10.100.7.87;Initial Catalog=CHB_DBS;Persist Security Info=True;User ID=iAgentDB;Password=Nokia@3310;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="CusDa" connectionString="Data Source=10.100.71.59;Initial Catalog=CustomerData;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <!--2021/08/02 增加保管箱DB測試機IP -->
    <add name="MBoxConnectionString" connectionString="Data Source=10.100.7.231;Initial Catalog=MBox;Persist Security Info=True;User ID=Mbox;Password=Mb@x_ap" providerName="System.Data.SqlClient"/>
    <add name="DataCheckIntra" connectionString="Data Source=10.100.7.177;Initial Catalog=DataCheck;Persist Security Info=True;User ID=intraweb;Password=intraweb" providerName="System.Data.SqlClient"/>
    <add name="ACH" connectionString="Data Source=10.100.71.216;Initial Catalog=ACH;Persist Security Info=True;User ID=intra;Password=intra" providerName="System.Data.SqlClient"/>
    <add name="bee" connectionString="Data Source=10.100.7.177;Initial Catalog=bee;Persist Security Info=True;User ID=beer;Password=18Days;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
    <add name="ObserveIT" connectionString="Data Source=10.100.71.215;Initial Catalog=ObserveIT;Persist Security Info=True;User ID=beer;Password=18Days;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=60000;" providerName="System.Data.SqlClient"/>
	<add name="ObserveIT_Report" connectionString="Data Source=10.100.71.215;Initial Catalog=ObserveIT_Report;Persist Security Info=True;User ID=beer;Password=18Days;Pooling=true;Min Pool Size=10;Max Pool Size=200;Connect Timeout=60000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <!-- ESI修改開始 -->
    <!--<httpRuntime useFullyQualifiedRedirectUrl="true"   maxRequestLength="716800"   executionTimeout="3600"/>-->
    <!--<httpRuntime requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true" maxRequestLength="716800" executionTimeout="3600" encoderType="HtmlAttributeEncodingNot"/>-->
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="716800" executionTimeout="36000"/>
    <!-- ESI修改結束 -->
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="OFF" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--globalization requestEncoding="BIG5" responseEncoding="BIG5" fileEncoding="BIG5"/-->
    <customErrors mode="Off"/>
    <!--<identity impersonate="true"
    userName="twchb\spsadm"
    password="spsadm" />-->
    <!--ESI  修改成測試機DomainName -->
    <!--identity impersonate="true" userName="tschb\spsadm" password="spsadm"/-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 100 MB in bytes -->
        <requestLimits maxAllowedContentLength="157286400"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DocServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DocServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dms-newtest.tschb.com/DocService/DocService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DocServiceSoap"
        contract="DMSService.DocServiceSoap" name="DocServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>